html{
    background-color: #FBFBF2;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}
main{
    flex-grow: 1;
}
article{
    padding: 2%;
}

/*Main article with the showcase and supplementary text.*/
section.showcasecontainer{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    max-width: 100%;
}
article.textcontent{
    flex: 2;
}
.mobilesafe{
    display: none;
    width: 100%;
    height: auto;
}
article.imagecontent{
    flex: 1;
}
.imagecontent img{
    max-width: 100%;
    height: auto;
    display: block;
}

@media (max-width:800px){
    section.showcasecontainer{
        flex-direction: column;
    }
    .showcasecontainer .mobilesafe{
        order: -1;
        display:flex;
    }
    .animations{
        display: none;
    }
}

/* header stuff. */
header{
    display: flex;
    width: 100%;
    background-color: #2E2C2A;
    align-items: center;
    height: 100px;
    overflow: hidden;
    z-index: 10;
}
#logo{
    float: left;
    width: 30%;
    padding-left: 2%;
    z-index: 1;
    text-shadow: 0px 0px 20px #000000;
}
#headervideo{
    margin: 0;
    width: 70%;
    float: right;
    height: 100%;
    object-fit: cover;
}
#headerimage{
    display: none; /* want to hide this by default. */
}
@media (max-width: 975px) {
    #headervideo {
        display: none; /*The video starts to shrink and you can see the borders, so I'm replacing it with an image instead.*/
    }
    header{
        background-image:url('./assets/stillheaderbackround.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    h1 #logo{
        background-color: #2e2c2ad7;
    }
}

/*Nav*/
nav{
    display: flex;
    align-items:center;
    background-color: #2E2C2A;
    margin-top: 0px;
    z-index: 10;
}
nav ul{
    width: 100%;
    list-style: none;
    text-align: center;
}
nav ul li{
    display: inline-block;
    padding: 10px;
}

a.navtext {
    text-decoration: none;
    font-size: 1.25em;
    display: block;
}
a.navtext{
    color: #CFD2CD;
}

nav ul li a:hover{
    font-weight: bold;
    color: white;
    transform: scale(1.1);
    transition: all 0.5s ease;
}
/*animations and imaes*/
#perfumeimg{
    max-height: 45%;
    width: auto;
    position: absolute;
    top: -100px; /* Starts above the screen */
    right: 275px;
    opacity: 0; /* Hidden at start */
    animation: dropIn .5s ease-out 1.5s forwards; /* Delayed until branch appears */
}
@keyframes dropIn {
    0% { top: -100px; opacity: 0; }
    80% { top: 290px;}
    100% { top: 280px; opacity: 1; }
}

#branch{
    position: absolute;
    right: -100%;
    top: 500px; /* how far down from the top the branch is */
    width: 600px; /* how wide the branch is */
    animation: slideIn 1.5s ease-out forwards, bend 0.4s ease-out 1.8s forwards;;
    overflow: hidden;
}
@keyframes slideIn {
    0% { right: -100%; } /*0% = start of timeline!*/
    80% {right: 0px;}
    100% { right: -10px; }
}
@keyframes bend {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
}

@media (max-width: 768px) {
    .imagecontent{
        display: none;
    }
}


/*footer*/
footer{
    bottom: 0px;
    display: flex;
    background-color: #2E2C2A;
    padding: 10px 2%;
    justify-content: space-between;
}

/* text */

h1, h2, h3, h4, h5, a.navtext{
    font-family:'Josefin Slab';
}
h1#logo{
    color: #CFD2CD;
    font-size: 3em;
    font-weight: bold;
}
h1{
    font-weight: bold;
    font-size: 2.5em;
}
h2{
    color: #2E2C2A;
    font-weight: bold;
    font-size: 2em;
}
h3{
    color: #676561;
    font-weight: bold;
    font-size: 1.5em;
}
h4{
    color: #676561;
    font-weight: bold;
    font-size: 1.25em;
}
h5{
    color: #676561;
    font-style: italic;
    font-weight: bold;
    font-size: 1em;
}
p{
    font-family: 'Josefin Sans';
    color: #2E2C2A;
}

p.subtitle{
    font-style: italic;
    margin-left: 25px;
    margin-top: -20px;
}

footer p{
    color: #CFD2CD;
}

a.footerref{
    color: #CFD2CD;
}
a.footerref:hover{
    color: #eea357;
    font-weight: bold;
}
